<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNG Test">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testNG.VerifyTitle"/>
      <class name="testNG.VerifyTitleAndTest"/>
      <class name="testNG.LoginTest"/>
      <class name="testNG.GroupDemoTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
